* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*html {
    font-size: 10px;
}*/

body {
    background-image: linear-gradient(to bottom right, #434343, black);
    background-attachment: fixed;
    color: white;
    font-family: sans-serif;
}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.loading img {
    width: 40%;
}

@media (max-width: 1200px) {
    html {
        font-size: 12px;
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    html {
        font-size: 10px;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    html {
        font-size: 8px;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}