* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*html {
    font-size: 10px;
}*/

body {
    background-image: linear-gradient(to bottom right, #434343, black);
    background-attachment: fixed;
    color: white;
    font-family: sans-serif;
}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.loading img {
    width: 40%;
}

.main {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card {
    background-color: transparent;
    height: 400px;
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
}

.card-front {
    overflow: hidden;
}

.card-back {
    background-color: #333;
    color: white;
    transform: rotateY(180deg);
}

.card-back h1{
    text-align: center;
    font-size: 25px;
    border-bottom: 2px solid white;
    margin: 10px auto;
    padding-bottom: 10px;
}

.card-back ul {
    list-style: none;
    margin: 10px;
}

.card-back ul li {
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    html {
        font-size: 12px;
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    html {
        font-size: 10px;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    html {
        font-size: 8px;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}