* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, #434343, black);
    background-attachment: fixed;
    color: white;
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.heading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search {
    width: 100%;
    margin-bottom: 20px;
}

.search div {
    display: flex;
    justify-content: center;
}

.search-bar {
    width: 80%;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    margin: 0 10px;
}

.btn-search {
    width: 10%;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
    background: rgba(48, 233, 48, 0.664);
    color: white;
    cursor: pointer;
}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.loading img {
    width: 40%;
}